.faded {
    color:#707070;
}

::-webkit-scrollbar {
    width:0px;
}

nav h1 small {
    padding-left:5px;
}

nav .name {
    background-color:inherit;
}

button, input[type="submit"] {
    padding:5px;
    background-color:#777777;
    border:solid black 1px;
    box-shadow: 0 0 0;
}

button:hover, input[type="submit"]:hover {
    background-color:#AAAAAA;
}

#post-album, #post-song {
    width:100%;
    margin-bottom:0px;
}

#uploads{
    padding-bottom:0px;
}

#upload {
    margin-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
    border: solid 1px;
    width:100%;
    height:1.8em;
    position:relative;
}

#upload>p {
    position:absolute;
    top:0;
    font-weight:bold;
    color:#fff;
    width:100%;
    text-align:center;
    padding-top:3px;
}

#upload > #slider{
    background-color:#888888;
    height:100%;
}