#music-player {
    position:relative;
    width:100%;

    /* make unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
    -ms-user-select: none;
    user-select: none;
}

/*#music-player h1{
    float:left;
}*/

form {
    position: relative;
}

#song-search {
    margin-top:-10px;
}

ul.options {
    display:none;
    position:absolute;
    top:0px;
    z-index:2;
    background-color:white;
    width:100%;
    list-style-type:none;
}

ul.options li{
    padding:3px;
    cursor:default;
}

ul.options li.break {
    font-size:0.7em;
    background-color:#fff;
    border-top:1px solid;
    width:100%;
    text-align:right;
    margin-bottom:-2em;
}

ul.options li.back{
    border-top:1px solid;
    padding-left:25px;
}

ul.options li.selected {
    background-color:#E0E0E0;
}

.options.open{
    display:block;
}

#controls {
    position:absolute;
    background-color:inherit;
    right:0px;
    top:0px;
    padding-left:5px;
    padding-right:5px;
    height:30px;
    z-index:10;
}

#controls>li {
    display:inline-block;
}

#controls svg{
    height:20px !important;
    width:20px !important;
}

#controls svg *{
    fill:#909090 !important;
}

#controls svg:hover *{
    fill:#505050 !important;
}

#controls svg:active *{    
    fill:#B0B0B0 !important;
}

#time {
    position:absolute;
    bottom:-15px;
    right:5px;
    color:#fff;
    font-size:0.7em;
}

#current {
    float:left;
    display:inline-block;
}

#current-bar {
    position:absolute;
    left:100px;
    right:60px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
    color:#fff;
}

#current-bar .artist:before{
    content:'by ';
    color:#707070;
    font-size:0.7em;
}

#current-bar .album:before{
    content:'on ';
    color:#707070;
    font-size:0.7em;
}

.well {
    position:relative;
    overflow:hidden;
}

.well:before {
    pointer-events:none;
    box-shadow: 0px 0px 10px #404040 inset;
    z-index:3;
    position:absolute;
    content:'';
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.well > * {
    position:relative;
    width:100%;
    height:100%;
    overflow-y: scroll;
    z-index:2;
}

.well#main {
    height:300px;
}

.music-bar {
    position:relative;
    width:100% !important;
    margin-left:0px !important;
    padding:4px;
    z-index:-10;
    background-color:#FFFFFF;
}

.greyed {
    background-color: #F0F0F0;
    /*
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#F5F5F5));
    background-image: -webkit-linear-gradient(top, #E8E8E8, #F5F5F5); 
    background-image:    -moz-linear-gradient(top, #E8E8E8, #F5F5F5);
    background-image:     -ms-linear-gradient(top, #E8E8E8, #F5F5F5);
    background-image:      -o-linear-gradient(top, #E8E8E8, #F5F5F5);
    */
}

.del-button {
    position:absolute;
    top:0px;
    right:0px;
    z-index:10;
    margin:0px;
    padding:0px;
    padding-right:3px;
    cursor:default;
    font-size:1.4em;
    font-weight:200;
    display:none;
}

.del-button:hover {
    font-weight:900;
}

.music-bar.selected .del-button, .music-bar:hover .del-button{
    display:block;
}

.music-bar.selected, .music-bar:hover {
    border: solid 1px;
    padding:3px;
}

.music-bar.selected {
    background-color: #E0E0E0;
}

.music-bar div{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.music-bar .faded{
    padding-right:5px;
}
