#music-player {
    position:relative;
    width:100%;

    /* make unselectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
      */
    -ms-user-select: none;
    user-select: none;
}

/*#music-player h1{
    float:left;
}*/

#music-player h1{
    padding-top:0px;
    margin-top:0px;
}
form {
    position: relative;
}

#song-search {
    position:relative;
    z-index:4;
}

ul.options {
    display:none;
    position:absolute;
    top:0px;
    z-index:4;
    background-color:white;
    padding-top:30px;
    width:100%;
    border: solid grey 1px;
    box-shadow: 0px 0px 5px #888888;
    list-style-type:none;
}

ul.options li{
    padding:3px;
    cursor:default;
}

ul.options li.selected {
    background-color:#E0E0E0;
}

.options.open{
    display:block;
}

#player {
    background-color:#E3E3E3;
    height:85px;
    position:relative;
    margin-bottom:15px;
}

#controls {
    position:absolute;
    right:0px;
    padding-right:10px;
    padding-left:10px;
    top:0px;
    margin-top:10px;
    background-color:inherit;
    z-index:5;
}

#controls svg{
    height:50px !important;
    width:50px !important;
}

#controls svg *{
    fill:#909090 !important;
}

#controls svg:hover *{
    fill:#505050 !important;
}

#controls svg:active *{    
    fill:#B0B0B0 !important;
}

#time {
    position:absolute;
    bottom:0px;
    right:3px;
    z-index:10;
}

#current-bar *{
    overflow:hidden;
    text-overflow:hidden;
    white-space:nowrap;
    width:100%;
    padding-left:10px;
}

#current-bar .title{
    position:absolute;
    top:0px;
}

#current-bar .artist:before{
    content:'by ';
    color:#707070;
    font-size:0.7em;
}

#current-bar .artist{
    position:absolute;
    top:28px;
}

#current-bar .album:before{
    content:'on ';
    color:#707070;
    font-size:0.7em;
}

#current-bar .album{
    position:absolute;
    top:56px;
}


#playlist {
    position:relative;
    width:100%;
    height:20em;
    overflow-y: scroll;
    margin-right:-510px;
    z-index:2;
}

.well {
    position:relative;
    overflow:hidden;
    
}

.well:before {
    pointer-events:none;
    box-shadow: 0px 0px 10px #404040 inset;
    z-index:3;
    position:absolute;
    content:'';
    display:block;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.music-bar {
    position:relative;
    width:100% !important;
    margin-left:0px !important;
    padding:4px;
    z-index:-10;
    background-color:#FFFFFF;
}

.greyed {
    background-color: #F0F0F0;
    /*
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#E8E8E8), to(#F5F5F5));
    background-image: -webkit-linear-gradient(top, #E8E8E8, #F5F5F5); 
    background-image:    -moz-linear-gradient(top, #E8E8E8, #F5F5F5);
    background-image:     -ms-linear-gradient(top, #E8E8E8, #F5F5F5);
    background-image:      -o-linear-gradient(top, #E8E8E8, #F5F5F5);
    */
}

.del-button {
    position:absolute;
    top:0px;
    right:0px;
    z-index:10;
    margin:0px;
    padding:0px;
    padding-right:3px;
    cursor:default;
    font-size:1.4em;
    font-weight:200;
    display:none;
}

.del-button:hover {
    font-weight:900;
}

.music-bar.selected .del-button, .music-bar:hover .del-button{
    display:block;
}

.music-bar.selected, .music-bar:hover {
    border: solid 1px;
    padding:3px;
}

.music-bar.selected {
    background-color: #E0E0E0;
}

.music-bar div{
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.music-bar .faded{
    padding-right:5px;
}
