<!doctype html>
<!-- [if IE 8]>        <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8"/>
  
  <title>WH2Music</title>
  <link rel="stylesheet" href="/static/css/normalize.css"/>
  <link rel="stylesheet" href="/static/css/foundation.min.css"/>
  <link rel="stylesheet" href="/static/css/base.css"/>
  {% block style %}
  {% endblock %}
  <script src="/static/js/vendor/custom.modernizr.js"></script>
</head>
<body>
  <nav class="top-bar row">
    <div class="name">
      <h1 style="float:left;"><a href="/">WH2<small>playing</small></a></h1>
      {% include 'current_bar.html' %}
      <div id="controls">
	<span id="pause">
	  {% include 'icons/play.svg' %}
	</span>
	<span id="next">
	  {% include 'icons/last.svg' %}
	</span>
      </div>
    </div>
  </nav>
  <div class="row">
    <div class="large-12 columns">
      {% block content %}{% endblock %}
    </div>
  </div>
  <script type="text/javascript">
    document.write("<script src=/static/js/vendor/"
		   + ("__proto__" in {} ? 'zepto' : 'jquery')
		   + ".js><\/script>");
  </script>
  <script src="/static/js/foundation.min.js"></script>
  <script src="/static/js/socket.io.min.js"></script>
  <script type="text/javascript">
    $(function(){
	$(document).foundation();
    });
  </script>
  {% block scripts %}
  {% endblock %}
</body>
