{% if current %}
<h3 id="current-bar" pk="{{current.id}}">
  <span class="title">{{current.title}}</span>
  <span class="artist">{{current.artist.name}}</span>
  <span class="album">{{current.album.title}}</span>
</h3>
{% else %}
<h3 id="current-bar">
  <span class="title">{{silence[0]}}</span>
  <span class="artist">{{silence[1]}}</span>
  <script>
    setTimeout(function(){socket.emit('current_request')},
    {% if silence[2] %}{{silence[2] * 1000}}{% else %}60{% endif %});
  </script>
</h3>
{% endif %}
