{% extends 'base.html' %}

{% block content %}
<h2>What is WH2Music?</h2>
<p>
It's a music player being run on a Raspberry Pi - maybe even in WH2! The Pi plays the music, and you tell it what to play on the <a href = "/">the front page</a>.
</p>
<h2>The Search is Kinda Crappy</h2>
We're working on it!
<h4>What if it doesn't have my favorite song?</h4>
<p>
You can upload it! Just make sure that all the metadata is correct before you confirm the upload. The upload button is at the bottom of the front page.
</p>
<h4>It's too loud!</h4>
<p>
Press Ctrl+'<' to lower the volume. When you're ready to party, press Ctrl+'>' to raise it again.
</p>
{% endblock %}
