<div id="music-player">
  <div class="row">
    <div class="small-6 columns">
    <h1>Currently Playing:</h1>
    </div>
    <div class="small-6 columns" id="controls">
      <span id="back">
	{% include 'icons/first.svg' %}
      </span>
      <span id="pause">
	{% include 'icons/play.svg' %}
      </span>
      <span id="next">
	{% include 'icons/last.svg' %}
      </span>
    </div>
  </div>
  {% include 'current_bar.html' %}
  <h2>Up Next:</h2>
  <div id="playlist">
    {% for song in playlist %}
    {% with greyed = loop.index0 % 2 == 0 %}
    {% include 'music_bar.html' %}
    {% endwith %}
    {% endfor %}
  </div>
</div>
