<div id="uploadbox">
  {% if upload == 'album' %}
  <h4>Check that we tagged it right...</h4>
  <form onSubmit="sendConfirmData('{{url_for('confirm_album', batch_name=batch_name)}}');return false;" method="post" class="post-song", enctype="multipart/form-data">
    <div class="row">
      {{form.hidden_tag()}}
      <div class="small-5 columns">Album: {{form.album}}</div>
      <div class="small-5 columns">Artist: {{form.artist}}</div>
      <div class="small-2 columns"><input type="submit"></div>
    </div>
    {% for upload in form.uploads %}
    <div class="row">
      {{upload.hidden_tag()}}
      {{upload.filename}}
      <div class="small-9 large-10 columns">Title: <small>({{upload.filename.data}})</small> {{upload.song}}</div>
      <div class="small-3 large-2 columns">Track: {{upload.track}}</div>
    </div>
    {% endfor %}
  </form>
  {% else %}
  <form onSubmit="sendAndConfirm('{{url_for('post_album')}}');return false;" method="post" class="post-song", enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <button onClick="$('#songs').click();return false;">Upload an Album!</button>
    {{form.songs(multiple=True, hidden=True, onchange="$(this).parents('form').submit()")}}
  </form>
  {% endif %}
</div>
